@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #19184b;
  --foreground: #f9f9fa;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
